@import "../../Sass/variables";
@import "../../Sass/placeholders";
@import "../../Sass/mixins";

.header {
  .active {
    text-decoration: underline;
  }
}

.about {
  @extend %flex-center-column;
  padding-bottom: 38px;
  gap: 38px;
}
