@import "../../Sass/variables";
@import "../../Sass/placeholders";
@import "../../Sass/mixins";

.rating {
  display: flex;
  gap: 4px;

  .star {
    font-size: 36px;
    color: #ccc;

    &.filled {
      color: $principal;
    }
  }
}
