/******TABLETTE******/
@media all and (min-width: 768px) and (max-width: 1024px) {
  /*****Page Home*****/
  .choice-location {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 30px;
    .cards {
      height: 250px;
      h3 {
        top: 180px;
      }
    }
  }
}

/******MOBILE******/
@media all and (max-width: 767.98px) {
  #root > *:not(footer) {
    padding: 20px 20px 0 20px;
  }

  /*****Header*****/
  .header {
    align-items: end;
    gap: 0;
    img {
      height: 47px;
    }
    nav {
      text-transform: uppercase;
      gap: 26px;
      a {
        font-size: 12px;
      }
    }
  }

  /*****Page Home*****/
  .home {
    .banner {
      height: 111px;
    }
    .banner-txt {
      font-size: 24px;
      left: 20px;
    }
    .choice-location {
      display: flex;
      flex-direction: column;
      background: none;
      padding: 0;
      gap: 20px;
      .cards {
        height: 255px;
        h3 {
          top: 185px;
        }
      }
    }
  }

  /*****Page About*****/
  .about {
    padding: 20px;
    .banner {
      height: 111px;
    }
  }

  /*****Page Logement*****/
  .logement-container {
    .carroussel {
      height: 255px;
      .navigation {
        img {
          max-width: 30px;
          max-height: 30px;
        }
      }
      .counter {
        visibility: hidden;
      }
    }
    .logement-details {
      flex-direction: column;
      padding-top: 10px;
      .description {
        width: 100%;
        h2 {
          font-size: 18px;
        }
        p {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 14px;
        }
      }
      .tag-item {
        min-width: 84px;
        font-size: 10px;
      }
      .note {
        flex-direction: row-reverse;
        padding-top: 10px;
        .host {
          img {
            height: 32px;
          }
          p {
            font-size: 12px;
          }
        }
        .rate {
          .star {
            font-size: 18px;
          }
        }
      }
    }

    .collapse-logement {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .collapse {
        width: 100%;
        .collapse-bar {
          height: 30px;
          h3 {
            font-size: 13px;
          }
        }
        .collapse-description {
          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  /*****Page Error*****/
  .error {
    gap: 110px;
    h2 {
      font-size: 96px;
      margin-top: 100px;
    }
    p {
      font-size: 18px;
      text-align: center;
      max-width: 260px;
    }
    a {
      font-size: 14px;
    }
  }
}
