%flex-center-row {
  display: flex;
  justify-content: center;
}

%flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

%flex-row-between {
  display: flex;
  justify-content: space-between;
}

%banner {
  width: 100%;
  height: 100%;
  border-radius: $radius-25;
  object-fit: cover;
}
