//colors
$black: black;
$white: white;
$principal: #ff6060;

//text
$txt-fond-clair: black;
$txt-fond-sombre: white;
$font-stack: Montserrat;

//dimensions
$radius-btn: 10px;
$radius-menu-deroulant: 5px;
