//colors
$black: black;
$white: white;
$principal: #ff6060;

//text
$txt-fond-clair: black;
$txt-fond-sombre: white;
$font-stack: Montserrat;

//dimensions
$radius-10: 10px;
$radius-5: 5px;
$radius-25: 25px;
