.error {
  color: #ff6060;
  font-family: Montserrat;
  text-align: center;
  h2 {
    font-size: 155px;
    font-weight: 700;
    text-align: center;
  }
  p {
    font-weight: 500;
    font-size: 35px;
  }
}
