.footer {
  position: static;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  img {
    width: 122px;
    height: 40px;
  }
}
