@import "../../Sass/variables";
@import "../../Sass/placeholders";
@import "../../Sass/mixins";

.logement-container {
  @extend %flex-center-column;
  margin-bottom: 20px;
  .logement-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      .habitation {
        display: flex;
        flex-direction: column;
        h2 {
          color: $principal;
          margin: 0;
          font-size: 36px;
        }
        p {
          margin-top: 0;
          font-size: 18px;
        }
      }
      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 16px;
        .tag-item {
          background-color: $principal;
          color: $white;
          padding: 6px 12px;
          border-radius: 12px;
          font-size: 0.9rem;
          font-weight: bold;
          text-align: center;
          min-width: 115px;
        }
      }
    }
    .note {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end;
      .host {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0;
        color: $principal;
        p {
          margin: 0;
          font-size: 18px;
          font-weight: 500;
        }
        img {
          border-radius: 50%;
          height: 64px;
        }
      }
    }
  }
  .collapse-logement {
    display: flex;
    justify-content: space-between;
    gap: 76px;
    margin-top: 24px;
    .collapse {
      width: 50%;
    }
    .equipment-item {
      list-style-type: none;
    }
  }
}
