@import "../../Sass/variables";
@import "../../Sass/placeholders";
@import "../../Sass/mixins";

.logement-container {
  @extend %flex-center-column;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  .description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1240px;
    .habitation {
      display: flex;
      flex-direction: column;
      h2 {
        color: $principal;
        margin-bottom: 0;
        font-size: 36px;
      }
      p {
        margin-top: 0;
        font-size: 18px;
      }
    }
    .host {
      @extend %flex-center-row;
      align-items: end;
      color: $principal;
      p {
        width: 93px;
        height: 52px;
        margin: 0;
      }
      img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
      }
    }
  }
  .note {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    max-width: 1240px;
    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-top: 16px;
      .tag-item {
        background-color: $principal;
        color: $white;
        padding: 6px 12px;
        border-radius: 12px;
        font-size: 0.9rem;
        font-weight: bold;
        text-align: center;
      }
    }
  }
  .collapse-logement {
    display: flex;
    justify-content: space-between;
    gap: 76px;
    margin-top: 24px;
    width: 100%;
    max-width: 1240px;
    .collapse {
      width: 50%;
    }
    .equipment-item {
      list-style-type: none;
    }
  }
}
