@import "../../Sass/variables";
@import "../../Sass/placeholders";
@import "../../Sass/mixins";

.error {
  @extend %flex-center-column;
  width: 100%;
  max-width: 1440px;
  gap: 139px;
  color: #ff6060;
  h2 {
    text-align: center;
    font-size: 288px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 139px;
  }
  p {
    font-weight: 500;
    font-size: 35px;
  }
  a {
    font-size: 18px;
    margin-bottom: 139px;
  }
}
