@import "../../Sass/variables";
@import "../../Sass/placeholders";
@import "../../Sass/mixins";

.home {
  @extend %flex-center-column;
  padding-top: 5px;
  padding-bottom: 38px;
  gap: 38px;
}
.choice-location {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  row-gap: 50px;
  background: #f6f6f6;
  padding: 50px;
  border-radius: $radius-25;
}
