@import "../../Sass/variables";
@import "../../Sass/mixins";
@import "../../Sass/placeholders";

.collapse-container {
  @extend %flex-center-column;
  width: 100%;
  max-width: 1023px;
  gap: 30px;
  .collapse {
    width: 100%;
  }
}
.collapse-bar {
  background-color: $principal;
  color: $txt-fond-sombre;
  @extend %flex-row-between;
  height: 52px;
  padding-left: 15px;
  padding-right: 20px;
  align-items: center;
  border-radius: $radius-5;
  img:hover {
    cursor: pointer;
  }
  .arrow-up {
    transform: rotate(0deg);
    transition-duration: 0.3s;
    transform-origin: center;
    &.true {
      transform: rotate(180deg);
    }
  }
}

.collapse-description {
  background: #f6f6f6;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out,
    transform 0.3s ease-out;
  &.collapse-description.open {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
  }
  p {
    margin: 0;
    padding: 20px;
  }
}
