@import "../../Sass/variables";
@import "../../Sass/mixins";
@import "../../Sass/placeholders";

.collapse-container {
  display: flex;
  flex-direction: column;
  .collapse-bar {
    background-color: $principal;
    color: $txt-fond-sombre;
    display: flex;
    justify-content: space-between;
    width: 1023px;
    height: 52px;
    padding-left: 15px;
    padding-right: 20px;
    align-items: center;
    border-radius: $radius-menu-deroulant;
  }

  .collapse-description {
    display: inline-flex;
    width: 1023px;
    padding: 15px 0 15px 20px;
  }
}
