@import "../../Sass/variables";
@import "../../Sass/mixins";
@import "../../Sass/placeholders";

.carroussel {
  width: 100%;
  height: 415px;
  position: relative;
  .photo-logement {
    @include WH-full;
    position: relative;
    border-radius: $radius-25;
    object-fit: cover;
  }
  .navigation {
    position: absolute;
    width: 100%;
    @extend %flex-row-between;
    transform: translateY(-50%);
    top: 50%;
    button {
      background-color: transparent;
      border: none;
    }
    img {
      cursor: pointer;
    }
  }

  .counter {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    color: #fff;
    height: 32px;
    font-size: 14px;
  }
}
