@import "../../Sass/variables";
@import "../../Sass/placeholders";
@import "../../Sass/mixins";

.footer {
  position: static;
  background-color: $black;
  color: $txt-fond-sombre;
  @extend %flex-center-column;
  justify-content: center;
  //width: auto;
  height: 209px;
  img {
    //max-width: 122px;
    height: 40px;
  }
}
