@import "../../Sass/variables";
@import "../../Sass/placeholders";
@import "../../Sass/mixins";

.footer {
  position: static;
  background-color: $black;
  color: $txt-fond-sombre;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: 209px;
  img {
    width: 122px;
    height: 40px;
  }
}
