@import "./Sass/variables";
@import "./Sass/placeholders";
@import "./Sass/mixins";

body,
html {
  font-family: $font-stack;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  a {
    text-decoration: none;
  }
}
