@import "./Sass/variables";
@import "./Sass/placeholders";
@import "./Sass/mixins";

* {
  font-family: $font-stack;
}
body {
  display: flex;
  justify-content: center;
  margin: 0;
  a {
    text-decoration: none;
  }
}
div#root {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}
