@import "./Sass/variables";
@import "./Sass/placeholders";
@import "./Sass/mixins";

/******DESKTOP******/
* {
  font-family: $font-stack;
}
body {
  @extend %flex-center-row;
  margin: 0;
  a {
    text-decoration: none;
  }
}
#root {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}
#root > *:not(footer) {
  padding: 45px 100px 0 100px;
}

/******MEDIA QUERIES******/
@import "./Sass/media";
