body {
  display: flex;
  justify-content: center;
}

/******DESKTOP******/
* {
  font-family: Montserrat;
}

body {
  margin: 0;
}
body a {
  text-decoration: none;
}

#root {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

#root > *:not(footer) {
  padding: 45px 100px 0 100px;
}

/******MEDIA QUERIES******/
/******TABLETTE******/
@media all and (min-width: 768px) and (max-width: 1024px) {
  /*****Page Home*****/
  .choice-location {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 40px;
         column-gap: 40px;
    row-gap: 30px;
  }
  .choice-location .cards {
    height: 250px;
  }
  .choice-location .cards h3 {
    top: 180px;
  }
}
/******MOBILE******/
@media all and (max-width: 767.98px) {
  #root > *:not(footer) {
    padding: 20px 20px 0 20px;
  }
  /*****Header*****/
  .header {
    align-items: end;
    gap: 0;
  }
  .header img {
    height: 47px;
  }
  .header nav {
    text-transform: uppercase;
    gap: 26px;
  }
  .header nav a {
    font-size: 12px;
  }
  /*****Page Home*****/
  .home .banner {
    height: 111px;
  }
  .home .banner-txt {
    font-size: 24px;
    left: 20px;
  }
  .home .choice-location {
    display: flex;
    flex-direction: column;
    background: none;
    padding: 0;
    gap: 20px;
  }
  .home .choice-location .cards {
    height: 255px;
  }
  .home .choice-location .cards h3 {
    top: 185px;
  }
  /*****Page About*****/
  .about {
    padding: 20px;
  }
  .about .banner {
    height: 111px;
  }
  /*****Page Logement*****/
  .logement-container .carroussel {
    height: 255px;
  }
  .logement-container .carroussel .navigation img {
    max-width: 30px;
    max-height: 30px;
  }
  .logement-container .carroussel .counter {
    visibility: hidden;
  }
  .logement-container .logement-details {
    flex-direction: column;
    padding-top: 10px;
  }
  .logement-container .logement-details .description {
    width: 100%;
  }
  .logement-container .logement-details .description h2 {
    font-size: 18px;
  }
  .logement-container .logement-details .description p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .logement-container .logement-details .tag-item {
    min-width: 84px;
    font-size: 10px;
  }
  .logement-container .logement-details .note {
    flex-direction: row-reverse;
    padding-top: 10px;
  }
  .logement-container .logement-details .note .host img {
    height: 32px;
  }
  .logement-container .logement-details .note .host p {
    font-size: 12px;
  }
  .logement-container .logement-details .note .rate .star {
    font-size: 18px;
  }
  .logement-container .collapse-logement {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .logement-container .collapse-logement .collapse {
    width: 100%;
  }
  .logement-container .collapse-logement .collapse .collapse-bar {
    height: 30px;
  }
  .logement-container .collapse-logement .collapse .collapse-bar h3 {
    font-size: 13px;
  }
  .logement-container .collapse-logement .collapse .collapse-description p {
    font-size: 12px;
  }
  /*****Page Error*****/
  .error {
    gap: 110px;
  }
  .error h2 {
    font-size: 96px;
    margin-top: 100px;
  }
  .error p {
    font-size: 18px;
    text-align: center;
    max-width: 260px;
  }
  .error a {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */